
#header {
    clear: both;
    width: 100%;
}

#content {
    clear: both;

    min-height: 90%;
    height:auto !important;
    height:96%;
    
    width: 100%;
}

#status-bar {
    clear: both;
    height: 3%;
    width: 100%;
}
