<div class="row general-border general-margin general-padding">

  <div class="text-danger general-padding" *ngIf="hierarchyLevel > 0">
    <strong>L{{hierarchyLevel}}: {{getGroupName()}}</strong>
  </div>

  <app-jenkins-job-details 
    *ngFor="let job of getWorkflowJobs()" 
    [jobDetails]="job">
  </app-jenkins-job-details>

  <app-jenkins-folder-details *ngFor="let folder of getSubFolders()" 
    [folderDetails]="folder" 
    [class]="getBootstrapColumnClasses()"
    [hierarchyLevel]="1*hierarchyLevel + 1">
  </app-jenkins-folder-details>

</div>