<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.birt.report.engine.emitters">
      <emitter
            class="org.eclipse.birt.report.engine.emitter.epdf.PdfExtReportEmitter"
            format="epdf"
            id="org.eclipse.birt.report.engine.emitter.epdf"
            mimeType="application/pdf">
      </emitter>
   </extension>

</plugin>
