.jenkins-job-details {
    margin: 3px;
}
.jenkins-job-details * {
    padding: 3px;
}
.blue, .blue_anime {
    background-color: rgba(0,255,0,0.3);
}
.disabled {
    background-color: rgba(127,127,127,0.3);
}
.green, .green_anime {
    background-color: rgba(0,255,0,0.3);
}
.red, .red_anime {
    background-color: rgba(255,0,0,0.3);
}
.yellow, .yellow_anime {
    background-color: rgba(251, 255, 0, 0.3);
}